<?xml version="1.0"?>
<configuration>  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ThrottledBehavior">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="20000" maxConcurrentInstances="200"/>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingConfig" maxReceivedMessageSize ="2147483647" maxBufferPoolSize="2147483647" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" receiveTimeout="00:10:00" closeTimeout="00:05:00" openTimeout="00:05:00" sendTimeout="00:05:00"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="640" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
      <!--<basicHttpBinding>
        <binding name="basicHttpBindingConfig" receiveTimeout="00:10:00" closeTimeout="00:05:00" openTimeout="00:05:00" sendTimeout="00:05:00"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="640" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>-->
    </bindings>
    <services>
	  <service name="CMHL.Base.Rest" behaviorConfiguration="ThrottledBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig"
                  contract="CMHL.Base.IRest" 
                  behaviorConfiguration="RESTBehavior" />
      </service>
	  <service name="CMHL.Flow.Rest" behaviorConfiguration="ThrottledBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig"
                  contract="CMHL.Flow.IRest" 
                  behaviorConfiguration="RESTBehavior" />
      </service>
	  <service name="DrugControlBusiness.Rest" behaviorConfiguration="ThrottledBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig"
                  contract="DrugControlBusiness.IRest" 
                  behaviorConfiguration="RESTBehavior" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxUrlLength="2097151" maxQueryStringLength="2097151" maxRequestLength="2147483647" />
  </system.web>
  <system.webServer>
	  <httpProtocol>
		<customHeaders>
		  <add name="Access-Control-Allow-Origin" value="*"/>
		  <add name="Access-Control-Allow-Credentials" value="true"/>
		  <add name="Access-Control-Allow-Headers" value="Origin, X-Test-Header, X-Requested-With, Content-Type, Accept, Authorization, Access-Control-Allow-Headers"/>
		  <add name="Access-Control-Max-Age" value="3600"/>
		</customHeaders>
	  </httpProtocol>
  </system.webServer>
</configuration>
